.weatherNav {
    text-align: center;
}

.searchCol {
background-color: lightgrey;
height: 725px;
margin-left: -100px;
}

.citydata{
    height: 1400px;
    background-color: lightblue;
}

.cityNames {
    margin-top: 40px;
}

.listItems {
    width: 300px;
    color: black;
}

.cityInfo {
  height: 350px;
    margin-top: 20px;
}
.cityInfo2 {
    height: 500px;
}



#forecastIcon1 {
    height: 40px;
    width: 40px;
}

.cardStyle {
    background-color: lightblue;
}

.low {
background-color: green;
}

.medium {
background-color: #FFD300;
}

.high {
background-color: tomato;
}